// TAGS
.tagsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.tag {
  // background-color: rgb(2, 16, 72);
  display: flex;
  justify-content: space-between;
  font-size: 0.875em;
  font-weight: 700;
  color: white;
  width: fit-content;
  height: 37px;
  margin-right: 20px;
  margin-bottom: 15px;
  align-items: center;
  padding: 0px 15px;
  border-radius: 5px;
  // border: black 1px solid;
}

.tag p {
  margin: 0;
  white-space: nowrap;
}

.fa-times-circle {
  color: white;
  font-size: 20px;
  margin-left: 15px;
}

.threeDropdownContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dropdownContainer {
  border: black solid 3px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 1.125em;
  color: white;
  border: transparent;
  outline: none;
}

//   .tagsDropdownInput {
#ingredientsInput,
#appliancesInput,
#utensilsInput {
  //   box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  padding-left: 15px;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 1.125em;
  font-weight: 700;
  color: white;
  border: transparent;
  outline: none;
}

#appliancesInput, .appliancesList {
    left: 576px;
}

#utensilsInput,
.utensilsList {
  left: 1152px;
}

.tagsDropdownInput::placeholder {
  color: white;
  opacity: 1;
}

.listShaping {
  position: absolute;
  z-index: 1;
  top: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-x: auto;
  width: 556px;
  max-height: 150px;
  margin: 0px 50px 0px 0px;
  padding: 84px 15px 15px;
  border-radius: 5px;
  font-size: 1.125em;
  line-height: 1.35em;
  font-weight: 400;
  color: white;
}

.itemList {
  cursor: pointer;
  min-width: fit-content;
  padding: 0 20px 0 0;
  margin: 0;
}

#ingredientsInput,
.ingredientsColorTag,
.ingredientsList {
  background-color: $ingredients;
  // border: black solid 3px;
}

#appliancesInput,
.appliancesColorTag,
.appliancesList {
  background-color: $appliances;
}

// .appliancesList {
//   background-color: $devices;
//   max-width: 667px;
//   padding: 15px;
//   border-radius: 5px;
//   margin-right: 20px;
//   font-size: 1.125em;
//   line-height: 1.35em;
//   font-weight: 400;
//   color: white;
//   border: transparent;
//   outline: none;
// }

#utensilsInput,
.utensilsColorTag,
.utensilsList {
  background-color: $utensils;
}

.dropdownContainer {
  position: relative;
}

.arrowIngredients,
.arrowAppliances,
.arrowUtensils {
  color: rgb(149, 147, 147);
  position: absolute;
  top: 29.45px;
  right: 38px;
}
