// TAGS
.tagsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.tag {
  // background-color: rgb(2, 16, 72);
  display: flex;
  justify-content: space-between;
  font-size: 0.875em;
  font-weight: 700;
  color: white;
  width: fit-content;
  height: 37px;
  margin-right: 20px;
  margin-bottom: 15px;
  align-items: center;
  padding: 0px 15px;
  border-radius: 5px;
  // border: black 1px solid;
}

.tag p {
  margin: 0;
  white-space: nowrap;
}

.fa-times-circle {
  color: white;
  font-size: 20px;
  margin-left: 15px;
}

// INPUTS
.threeDropdownContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

// .dropdownContainer {
//   // position: relative;
//   display: flex;
//   flex-direction: column;
//   margin: 0px 20px 20px 0px; 
//   // width: 170px;
//   // height: 69px;
//   // max-width: fit-content;
//   // max-height: fit-content;
//   // background-color: darkgreen;
// }
.dropdownContainer {
// .ingredientsContainer, .appliancesContainer, .utensilsContainer {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 20px 0px; 
  // border: lime solid 3px;  
  width: 170px;
  height: 69px;
}
.dropdownContainerOpen {
// .ingredientsContainerOpen, .appliancesContainerOpen, .utensilsContainerOpen {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 20px 0px; 
  width: 586px;
  min-height: 50px;
  max-height: 300px;
}

// .inputChevron {
//   box-sizing: border-box;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   width: 170px;
//   height: 69px;
//   border-radius: 5px;
//   padding: 0px 18px 0px 15px;  
//   // background-color: darkgreen;
//   // color: red solid 2px;
// }


// .ingredientsDropdown, .appliancesDropdown, .utensilsDropdown {
.inputChevron {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  padding: 0px 18px 0px 15px;  
  // background-color: darkgreen;
  // color: red solid 2px;
}

.inputChevronOpen {
// .ingredientsDropdownOpen, .appliancesDropdownOpen, .utensilsDropdownOpen {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 586px;
  height: 69px;
  border-radius: 5px 5px 0px 0px;
  padding: 0px 18px 0px 15px;  
  // background-color: darkgreen;
  // color: red solid 2px;
}

#formIngredients, #formAppliances, #formUtensils {
  margin: 0;
  padding: 0;
}

.fas {
  padding: 0px;  
  color: white;
  cursor: pointer;
}

// .arrowIngredients, .arrowAppliances, .arrowUtensils {
//   padding: 0px;  
//   color: white;
//   cursor: pointer;
// }

.tagsDropdownInput {
  display: flex;
  max-width: 120px;
  font-size: 1.125em;
  font-weight: 700; 
  border: transparent;
  background-color: transparent;
  outline: none;  
  color: white;
}

.tagsDropdownInput::placeholder {
  color: white;
  opacity: 1;
}

.listContainer {
// .ingredientsList, .appliancesList, .utensilsList {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  transform: translateY(-3200px);
  overflow-x: auto;
  overflow-y: hidden;  
  width: 556px;
  // width: 400px;
  max-height: 328px;
  // height: 200px;
  // margin: 0px 50px 0px 0px;
  padding: 0px 15px 15px;
  margin-top: -10px;
  border-radius: 0px 0px 5px 5px;
  font-size: 1.125em;
  line-height: 1.35em;
  font-weight: 400;
  color: white;
}

.listContainerOpen {
// .ingredientsListOpen, .appliancesListOpen, .utensilsListOpen {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  transform: translateY(0px);
  overflow-x: auto;
  overflow-y: hidden;
  width: 556px;
  // width: 400px;
  // height: 328px;
  // height: 200px;
  // margin: 0px 50px 0px 0px;
  padding: 0px 15px 15px;
  margin-top: -10px;
  border-radius: 0px 0px 5px 5px;
  font-size: 1.125em;
  line-height: 1.35em;
  font-weight: 400;
  color: white;
}

.itemList {
  cursor: pointer;
  min-width: 170px;
  // white-space: nowrap;
  max-width:fit-content;
  // padding: 0 20px 0 0;
  margin: 0 20px 0 0;
  // border: black 1px solid;
  // border: solid 1px white;
}

.ingredientsColor
{
  background-color: $ingredients;
}

.appliancesColor {
  background-color: $appliances;
}

.utensilsColor {
  background-color: $utensils;
}



